.form {
  max-width: 1000px;
  width: 100%;
  margin-top: 2%;
}

.form-container {
  border: none;
  border-radius: 25px;
}

.input-post {
  border: none;
  border-radius: 15px;
  width: 100%;
  height: auto;
  padding: 2%;
  font-size: 20px;

  resize: none;
}

.input-post:focus {
  border: none;
  /* border-bottom: 3px solid rgb(181, 21, 21); */
  box-shadow: rgb(76, 16, 16) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.43) 0px 1px 3px -1px;
  outline: none;
}

.button-post {
  padding: 1% 5%;
  border: none;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 20px;
  cursor: pointer;

  background-color: rgba(255, 255, 255, 0.887);
  box-shadow: rgba(0, 0, 0, 0.208) 2px 2px 4px;
  transition: 0.2s ease-in-out;
}

.button-post:hover {
  background-color: rgb(255, 255, 255);
}
@media screen and (max-width: 820px) {
  .form {
    width: 80%;
  }
}
